/app/config/parameters.yml
/app/Resources/markup/node_modules
/app/Resources/markup/build
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/bin/*
!/bin/console
!/bin/symfony_requirements
/vendor/
/web/bundles/
/composer.phar
/web/assets/*
!/web/assets/.gitkeep
/node_modules
/bower_components
.idea/
/web/.htaccess
/web/uploads/*
/web/firebase-messaging-sw.js
npm-debug.log
/web/cleaner
*.pyc
.DS_Store
dist/
test/unit/coverage
test/e2e/reports
selenium-debug.log
